.header {
    padding: 1rem 0 3rem;
    background-color: salmon;
    max-width: 3000vw;
}

.title {
    color: black;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;
}

.nav-item {
    color: cyan;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: darkcyan;
}

.active-nav-item {
    color: #333333;
}